body
{
    font-family: 'Special Elite', cursive;
}

.fondo-lanzador
{
    padding-top: 2%;
    background-color: red;
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url(../img/maquina-de-escribir.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}



h1
{
    margin-top: 5%;
    margin-bottom: 3%;
    color: white;
    text-align: center;  
}

h2
{
    color: white;
    border-bottom: 2px solid white;
    margin-bottom: 2%;
    
}

p
{
    color: white;
    font-size: 1.2em;
}

.warp-poemas
{
    padding-top: 3%;
    padding-bottom: 3%;
}

.list-group a:hover
{
    background-color: #212529;
    color: white;
}

.fs-4
{
    color: white;
}

.nav li a
{
    color: white;
} 

.nav li a:hover
{
    background-color: white;
    color: #212529;
}


.nav-pills .nav-link.active, .nav-pills .show>.nav-link
{
        background-color: white;
        color: #212529;
}

.nav-link:focus, .nav-link:hover
{
    background-color: white;
    color: #212529;
}

.fondo-tnks

{
    padding-top: 2%;
    background-color: #0D1117;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.img-hero
{
    width: 40%;
}

.icono-hero
{
    text-align: center;
}

.icono-colaborador
{
    width: 5%;
}

.student
{
    border: 1px solid #0D1117;
}





