h1
{
    font-family: 'Sedgwick Ave', cursive;

}

.panel-izq
{
    background-color: red;
    height: 100vh;
    background-image: url(../img/fondo-poema-op.jpg);
    background-size: cover;
    position: relative;
    
}

.panel-der
{
    height: 100vh;
    background: rgb(39,31,127);
    background: linear-gradient(90deg, rgba(39,31,127,1) 0%, rgba(0,255,212,1) 100%);
    color: white;
}

.centrador
{
    width: 70%;
    height: 100%;
    margin: auto;
    position: relative;
}

.menu
{
    /* centrado vertical */
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

.botones
{
    margin-bottom: 10px;
    margin-right: 20px;
    background-color: white;
    border-color: #06DFC8;
    color: #271F7F;
    
}

.botones:hover
{
    color: white;
    background-color: #06DFC8;
    border-color: #06DFC8;

}

.btn-check:focus+.btn-outline-primary, .btn-outline-primary:focus
{
    box-shadow: 0 0 0 0.25rem rgb(0 255 212 / 50%);
}

.btn-check:active+.btn-outline-primary, .btn-check:checked+.btn-outline-primary, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show, .btn-outline-primary:active
{
    background-color: #06DFC8;
    border-color: #06DFC8; 
}

.froebel
{
    position: absolute;  
    bottom: 0%;
    width: 100%;
    text-align: center;
    font-family: 'Roboto Mono', monospace; 
}

.centrado
{
    position: absolute; 
    bottom: 0%;
    font-family: 'Roboto Mono', monospace; 
    color: white;
    font-size: 1em;
}

a.tnk
{
    color: white;
    text-decoration: none;
}

a.tnk:hover
{
    text-decoration: underline;
}